<h1>Mon dashboard</h1>
<!-- app/views/restaurants/index.html.erb -->
<%= link_to "Acceder au listing des ecoles", root_path %>
<% for u in 0..@roomcount  %>

  <% if @room.include?(@room[u]) %>
    <table border="1px solid black">
      <tr>
        <th>&nbsp;</th>
        <% instance_variable_get("@schoolday_#{u}").each do |schoolday| %>
          <th><%= schoolday %></th>
        <% end %>
      </tr>
    <tr>
      <td><%= instance_variable_get("@endtime_#{u}") %></td>
    </tr>
    </table>
  <% end %>
<% end %>
